nav {
  position: fixed;
  top: 0;
  padding: 10px;
  z-index: 99;
  width: 100%;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
}
nav .nav_logo {
  object-fit: cover;
  width: 70px;
}
.black_nav {
  background-color: #111;
}
