.row {
  color: white;
  margin-left: 20px;
  margin-top: 20px;
}
.row .row_movies {
  overflow-y: hidden;
  overflow-x: scroll;
  display: flex;
  gap: 20px;
  padding: 10px;
}
/* hiddin scroll */
.row .row_movies::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth;
}
.row .row_movies .row_img {
  cursor: pointer;
  object-fit: contain;
  width: 100%;
  max-width: 200px;
  transition: transform 0.3s;
  -webkit-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  -ms-transition: transform 0.3s;
  -o-transition: transform 0.3s;
}
/* for tall  image */
.row_img_large {
  height: 250px;
}
.row .row_movies .row_img:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
/* img skeleton */
.img_skeleton {
  background-color: #333;
  animation: skeleton 0.5s 0 infinite ease-in-out forwards;
  -webkit-animation: skeleton 0.5s 0 infinite ease-in-out forwards;
  overflow: hidden;
}


