.questions {
  padding: 4rem 0;
  /* height: 100vh; */
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
.questions .title {
  font-size: 1.8rem;
  font-weight: 700;
}
.questions_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}
.questions_content .question {
  width: 60%;
  background-color: #303030;
}
.questions_content .question .question_head {
  cursor: pointer;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.questions_content .question .question_head .icon {
  font-size: 2rem;
  font-weight: bold;
}
.questions_content .question .question_desc {
  display: none;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 2rem;
}
/* mobile */
@media (max-width: 992px) {
  .questions .title {
    font-size: 1.4rem;
    font-weight: bold;
  }
  .questions_content .question {
    width: 90%;
    background-color: #303030;
  }
  .questions_content .question .head_title {
    font-weight: normal;
  }
  .questions_content .question .question_desc {
    display: none;
    padding: 10px 20px;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.5rem;
  }
}
